body {
  font-family: "Source Sans Pro", sans-serif;
}

#main {
  max-height: 100vh;
  background: linear-gradient(rgba(31, 33, 51, 0.4), rgba(11, 13, 35, 0.4)),
    url(/assets/bg.jpg) center/cover no-repeat fixed;
}
#quiz {
  background: linear-gradient(rgba(31, 33, 51, 0.4), rgba(11, 13, 35, 0.4));
}

.height-80vh {
  height: 90vh;
}

.animation {
  animation-delay: 1s;
  animation-duration: 3s;
}
